body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  color: red;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.presentation {
  width: 100%;
  background-color: blue;
}

.typedxd {
  display: flex;
}
